:root {
	--blue: rgba(0, 0, 255, 0.4);
	--red: rgba(255, 0, 0, 0.4);
	--black: rgba(0, 0, 0, 0.4);
}

.row {
	display: flex;
	cursor: pointer;
}

.square {
	width: 50px;
	height: 50px;
	display: inline-block;
	border: 1px solid black;
	font-size: 12px;
	line-height: 50px;
	text-align: center;
	cursor: inherit;
	user-select: none;
}

.square_has-ship {
	color: #fff;
	background-color: var(--blue);
}

.square_missed {
	color: #fff;
	background-color: var(--red);
}

.square_killed {
	color: #fff;
	background-color: var(--black);
}

.battlefield {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pointer-events_none {
	pointer-events: none;
}

.rule__title {
	font-size: 20px;
	margin-left: 10px;
}

.rule__color {
	width: 30px;
	height: 30px;
}

.blue {
	background-color: var(--blue);
}

.red {
	background-color: var(--red);
}

.black {
	background-color: var(--black);
}
